<div id="home" class="cont">
  <div class="cont-welc">
    <div class="welc-text">
      <h1>Olá, somo a Nexoos</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam efficitur euismod lacinia. Ut urna ipsum,
        pharetra at semper sed, pellentesque eu neque. Pellentesque suscipit, nisl a eleifend volutpat, dui purus
        faucibus turpis, non mollis arcu ante quis eros. Donec semper tortor ut neque pellentesque, sit amet ultrices
        lectus porttitor.</p>
        <a  role="button" class="btn btn-light">Quero o meu emprestimo</a>
    </div>
    <div class="welc-img"></div>
  </div>
  <div>
    <div class="cont-value">
      <div class="value-img"></div>
      <div class="value-text">
        <h1>Lorem ipsum dolor sit amet</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam efficitur euismod lacinia. Ut urna ipsum,
          pharetra at semper sed, pellentesque eu neque. Pellentesque suscipit, nisl a eleifend volutpat, dui purus
          faucibus turpis, non mollis arcu ante quis eros. Donec semper tortor ut neque pellentesque, sit amet ultrices
          lectus porttitor.</p>
          <a class="btn btn-primary">Fazer um orçamento agora</a>
      </div>
    </div>
  </div>
</div>