<div id="loan" class="cont p-3">
  <h3>Nova solicitação de crédito</h3>
  <h6 class="pl-3 border-bottom"><i><b>Etapa</b> 1/2 </i></h6>
  <%= render '/shared/loan/preview' %>
  <%= render 'form' %>
</div>