<div class="loan-applicant-form">
  <%= form_with(model: @loan_applicant, local: true) do |f| %>
    <div class="form-group">
      <label for="">Razão social </label>
      <%= f.text_field :company_name, class:"form-control" %>
    </div>
    <div class="form-group">
      <label for="">CNPJ </label>
      <%= f.text_field :cnpj, class:"form-control" %>
    </div>
    <div class="card">
      <label class="pl-3 pt-3">Telefone </label>
      <div class="card-body" id="phones-list">
        <div class="input-group mb-3" >
        <input class="form-control" type="text" name="loan_applicant[phones][]" id="phone-0">
        <div class="input-group-append">
          <button class="btn btn-outline-success disabled" type="button" id="add-phones">Adicionar outro</button>
        </div>
      </div>
      </div>
    </div>
    <div class="pt-3">
      <%= f.submit "Conrfirmar solicitação de crédito", class:"btn btn-primary disabled" %>
    <div>
  <%end%>
</div>