<div class="cont">
  <div class="cont-navig">
    <div class="bnt-new-loan">
      <a href="<%= new_loan_path %>">
          <%= image_tag 'painel/Bitcoin P2P-rafiki.svg' %>
          <span> Contratar Emprestimo </span>
      </a>
    </div>
    <div class="bnt-new-simul">
      <a href="<%=  %>">
        <div>
          <div>
            <%= image_tag 'painel/Analytics-pana.svg' %>
          </div>
          <span> Simular Emprestimo </span>
        </div>
      </a>
    </div>
  </div>
  <div class="loans-cont"></div>
  <div class="loans-simul-cont"></div>
</div>